

/* 700 */
@font-face {
  font-family: "Inter-Bold";
  src: url("/public/Fontfamily/Inter/static/Inter_28pt-Bold.ttf");
}

/* 600 */
@font-face {
  font-family: "Inte-semibold";
  src: url("/public/Fontfamily/Inter/static/Inter_24pt-SemiBold.ttf");
}

/* 500 */
@font-face {
  font-family: "Inter-medium";
  src: url("/public/Fontfamily/Inter/static/Inter_18pt-Medium.ttf");
}
/* 400 */
@font-face {
  font-family: "Inter-regular";
  src: url("/public/Fontfamily/Inter/static/Inter_24pt-Regular.ttf");
}

/* 300 */
@font-face {
  font-family: "Inter-light";
  src: url("/public/Fontfamily/Inter/static/Inter_28pt-Light.ttf");
}


